html {
  font-family: helvetica
}

body {
  margin: 0;
  background-color: rgb(77, 67, 67)
}

p {
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: auto;
  color: white;
}

.nav-div ul {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  padding: 0;
}

.nav-div ul li {
  padding-right: 25px;
}

li {
  list-style: none;
}

.title-div span {
  padding: 25px;
  display: block;
}

.title-div {
  height: 100%;
}

ul {
  margin: 0
}

.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.nz-img {
  margin: auto;
  display: block;
}

.Gisborne {
  position: relative;
  bottom: 543px;
  left: 616px;
}

.Gisborne:hover {
  transform: scale(1.2);
}

.map-div, .pin-div {
  padding: 15px 0px 15px 0px;
  display: inline-block;
  width: 768px;
  height: 1024px;
  margin: 0 auto;
}

.pin-div {
  position: absolute;
}

.test {
  margin: auto
}

img {
  transform: rotate(180 deg);
}

.wind-arrow {
  margin: auto;
  display: block;
  filter: sepia(1);
}

.gisborne-div, .wellington-div, .auckland-div, .napier-div, .kaitaia-div, .taupo-div, .hamilton-div {
  position: absolute;
  width: auto;
  height: auto;
  display: inline-block;
  min-width: 215px;
}

.container {
  width: 768px;
  display: flex;
  margin: 0 auto;
  padding-top: 80px;
}

.button-div {
  display: flex;
  justify-content: center;
}

.mouseover-div {
  width: 32px;
}

.gisborne-div .mouseover-div {
  position: absolute;
  z-index: 1;
}

a {
  color: white;
  text-decoration: none;
}

li:hover {
  color: red;
  cursor: pointer
}

button {
  font-size: 20px;
  border-radius: 10px;
  padding: 10px 40px;
}

button:hover {
  border: 1px solid red;
  cursor: pointer;
}

.footer {
  color: white
}

svg {
  animation: popup 0.8s;
}

svg:hover {
  transform: scale(1.1);
}

@keyframes popup {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.4);
  }
  60%{
    transform: scale(1.1);
  }
  70%{
    transform: scale(1.2);
  }
  80%{
    transform: scale(1);
  }
  90%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(1);
  }
}