html {
  font-family: helvetica
}

body {
margin: 0
}

p {
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 750px;
  margin: auto
}

.nav-div ul {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  padding: 0;
}

.nav-div ul li {
  padding-right: 25px;
}

li {
  list-style: none;
}

.title-div span {
  padding: 25px;
  display: block;
}

.title-div {
  height: 100%;
}

ul {
  margin: 0
}

.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.nz-img {
  margin: auto;
  display: block;
}

.Gisborne {
  position: relative;
  bottom: 543px;
  left: 616px;
}

.Gisborne:hover {
  transform: scale(1.2);
}

.map-div {
  padding: 15px 0px 15px 0px;
  display: block;
  width: 768px;
  height: 1024px;
  margin: 0 auto;
}

.test {
  margin: auto
}

img {
  transform: rotate(180 deg);
}